# MinIO Configuration
MINIO_ENDPOINT=localhost:9000
MINIO_FRONTEND_ENDPOINT=localhost:9001
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin
MINIO_BUCKET=scicat-data

# SciCat Configuration
SCICAT_URL=http://localhost:3000/api/v3
SCICAT_USERNAME=ingestor
SCICAT_PASSWORD=aman

# ORCID Configuration
ORCID_CLIENT_ID=APP-Z7EPO5WHGU2XEWPJ
ORCID_CLIENT_SECRET=c86d92d8-b809-426c-a7a0-36d42a8c9f50
ORCID_REDIRECT_URI=https://57f5-47-152-133-226.ngrok-free.app/auth/callback

# Authentication Configuration
AUTHORIZED_ORCIDS=0000-0002-1234-5678,0000-0003-9876-5432,0000-0003-3653-4779
AUTH_EXPIRY_MINUTES=2

SESSION_SECRET_KEY=your_very_secure_secret_key_12345
